@using MVC_Stok.Models.Entity
@model List<TBLMUSTERILER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered"
    <tr>
        <th>Musteri Id</th>
        <th>Musteri Adi</th>
        <th>Musteri Soyadi</th>
        <th>Sil</th>
        <th>Guncelle</th>

    </tr>
    <tbody>
        @foreach (var mus in Model)
        {
            <tr>
                <th>@mus.MUSTERIID</th>
                <td>@mus.MUSTERIAD</td>
                <td>@mus.MUSTERISOYAD</td>
                <td><a href="/Musteri/sil/@mus.MUSTERIID " class="btn btn-danger">Sil</a></td>
                <td><a href="/Musteri/MusteriGetir/@mus.MUSTERIID" class="btn btn-success">Guncelle</a></td>
            </tr>
        }
    </tbody>
</table>
<a href="/Musteri/YeniMusteri/" class="btn btn-primary">YENI MUSTERI EKLE</a>

