@using MVC_Stok.Models.Entity
@model List<TBLKATEGORILER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered"
      <tr>
          <th>Kategori Id</th>
          <th>Kategori Ad</th>
      </tr> 
    <tbody>
        @foreach(var ktgr in Model)
            {
                <tr>
                    <td>@ktgr.KATEGORIID</td>
                    <td>@ktgr.KATEGORIAD</td>
                </tr>
            }
    </tbody>
       
</table>

